body {
  height: 80px;
  width: 200px;
  background-color: #00586e;
}

.button-container {
  display: block;
  margin: auto;
}

.btn {
  display: block;
  margin: auto;
  width: 180px;
  padding: 10px;
}

/* #btn-container {
  display: block;
  justify-content: space-evenly;
}

#btn-container > button {
  color: indianred;
  background-color: whitesmoke;
  border: none;
  outline: none;
  border-radius: 5px;
  padding: 8px;
  font-weight: bold;
  width: 100px;
  cursor: pointer;
} */
